{% extends 'main.html' %}

{%block content%}
{% comment %} created this login page then moves to views.py to create login method {% endcomment %}

<div>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter username" >

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" />

        <input type="submit" value="login">

    </form>
</div>
{%endblock content%}