<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    {% comment %} <link rel="stylesheet" href="style.css" /> {% endcomment %}

    {% comment %}adding a new style.css in here{% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <title>Voyage - Find study partners around the world!</title>
  </head>

  <body>

    {% comment %} take the follwing header and cutpaste it into navbar {% endcomment %}
 

    {% include 'navbar.html' %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>



{% comment %}home.html end{% endcomment %}
{% comment %} 
<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
  </body>
</html> {% endcomment %}
